
<%- include('partials/header.ejs') %>

<h2>Set the Secret Word</h2>

<form action="/secretWord" method="POST">
  <label for="secretWord">Secret Word:</label>
  <input type="text" name="secretWord" id="secretWord" value="<%= secretWord %>">
  <button type="submit">Set Secret Word</button>
</form>